@using System.Text
@inherits StatefulComponentBase<MagicMatchTracker.Features.Matches.Services.MatchDetailState>

@if (State.Match is null)
	return;

<button class="@GetCssClasses()"
        @onclick="OnCardClickedAsync"
        disabled="@(!IsInteractive)"
        tabindex="@(IsInteractive ? "0" : "-1")">
	@if (Deck is null)
	{
		<div class="card-img-top deck-cover deck-cover-placeholder icon filled">box_add</div>
	}
	else if (Deck.ImageUri is null)
	{
		<div class="card-img-top deck-cover deck-cover-placeholder icon filled">box</div>
	}
	else
	{
		<img class="card-img-top deck-cover" alt="Deck image" height="139" src="@Deck.ImageUri"/>
	}

	@if (Deck is not null)
	{
		<div class="card-body">
			<span class="card-title fw-medium">@(Deck.Name ?? Deck.Commander)</span>
			<span class="card-subtitle fw-normal">
				<div class="d-flex flex-column text-muted small">
					@if (Deck.Name is not null)
					{
						<span>@Deck.Commander</span>
					}
					<span>@Deck.Partner</span>
				</div>
			</span>

			@if (Deck.Owner != Player)
			{
				<span class="card-subtitle fw-normal small text-muted text-content mt-1">
					Borrowed from <Avatar Player="Deck.Owner" Size="18"/> @Deck.Owner.Name
				</span>
			}

			@if (Participation.Notes is not null)
			{
				<div class="text-content small mt-2">
					<span class="icon small">sticky_note_2</span>
					<span>@Participation.Notes</span>
				</div>
			}
		</div>
	}
	else if (Participation.Notes is not null)
	{
		<div class="card-body">
			<div class="text-content small">
				<span class="icon small">sticky_note_2</span>
				<span>@Participation.Notes</span>
			</div>
		</div>
	}

	<div class="card-footer text-content justify-content-between">
		<span class="text-content">
			<Avatar Player="Player" Size="20"/>
			<span>@Player.Name</span>
		</span>

		@if (!State.Match.HasStarted)
		{
			<div class="text-content" @onclick:stopPropagation="true">
				<button class="btn btn-ghost-primary btn-sm"
				        @onclick="() => State.EditParticipationDetailsAsync(Participation, CancellationToken)">
					<span class="icon">sticky_note_2</span>
					<span>Edit notes</span>
				</button>
			</div>
		}
		else if (Participation.EndState is not null)
		{
			var endState = Participation.EndState;
			@* TODO: Show turn? *@
			<div class="text-content small">
				@if (endState.IsWinner)
				{
					<span class="icon small filled">trophy</span>
					<span>Winner</span>
				}
				else if (endState.LoseCondition is not null)
				{
					<LoseConditionIcon Value="endState.LoseCondition.Value" class="small"/>
						<span class="text-nowrap">@endState.LoseCondition.Value.GetDisplayName()</span>
						@if (endState.Killer is not null)
					{
						<span>by</span>
						<Avatar Player="endState.Killer" Size="18" class="ms-0.5"/>
						<span>@endState.Killer.Name</span>
					}
				}
				else
				{
					<span class="icon small">skull</span>
					<span>Lost</span>
				}
			</div>
		}
	</div>

	@if (_isOptionsPopupVisible)
	{
		<AutoClose class="position-absolute w-100 h-100 bg-body-secondary bg-opacity-50 center rounded-1"
		           OnClose="@(() => _isOptionsPopupVisible = false)">
			<ul class="dropdown-menu participation-options">
				<li>
					<span class="dropdown-header text-content py-1">
						<Avatar Player="Player" Size="18"/>
						<span>@Player.Name</span>
					</span>
				</li>
				<li>
					<button class="dropdown-item" @onclick="() => State.EditParticipationEndStateAsync(Participation, CancellationToken)">
						@if (Participation.EndState is null)
						{
							<span class="icon">swords</span>
							<span>Set end state</span>
						}
						else
						{
							@if (Participation.EndState.IsWinner)
							{
								<span class="icon">trophy</span>
							}
							else
							{
								<span class="icon">skull</span>
							}
							<span>Edit end state</span>
						}
					</button>
				</li>
				<li>
					<button class="dropdown-item" @onclick="() => State.EditParticipationDetailsAsync(Participation, CancellationToken)">
						<span class="icon">sticky_note_2</span>
						<span>Edit notes</span>
					</button>
				</li>
				<li>
					<button class="dropdown-item" @onclick="() => State.SelectDeckAsync(Participation, CancellationToken)">
						<span class="icon">box</span>
						<span>Change deck</span>
					</button>
				</li>
			</ul>
		</AutoClose>
	}
</button>

@code {

	private bool _isOptionsPopupVisible;

	[Parameter, EditorRequired]
    public required MatchParticipation Participation { get; set; }

	private Player Player => Participation.Player;
	private Deck? Deck => Participation.Deck;
	private bool IsInteractive => State is { IsBusy: false, Match.HasEnded: false };

	private async Task OnCardClickedAsync()
	{
		if (State.Match is null)
			return;

		if (!State.Match.HasStarted)
		{
			await State.SelectDeckAsync(Participation, CancellationToken);
			return;
		}

		// TODO: Make the card interactive for finished matches and show some detailed info when interacted?
		if (State.Match.HasEnded)
			return;

		_isOptionsPopupVisible = !_isOptionsPopupVisible;
	}

	private string GetCssClasses()
	{
		var sb = new StringBuilder();
		sb.Append("card ");

		if (!IsInteractive)
			sb.Append(" disabled");
		else if (State.Match is not null && State.Match.IsInProgress)
			sb.Append(" position-relative");

		return sb.ToString();
	}

}