@using MagicMatchTracker.Features.Matches.Models
@inherits StatefulComponentBase<MagicMatchTracker.Features.Matches.Services.MatchParticipationEditDialogState>

<FormDialog
	TModel="MatchParticipationEditModel"
	Model="State.Model"
	FullscreenMode="DialogFullscreenMode.Never"
	OnSubmit="@(() => State.SaveAsync(CancellationToken))">
	<div class="modal-header">
		<h5 class="modal-title text-content">
			Edit notes for <Avatar Player="context.Player" Size="24" class="ms-1"/> @context.Player.Name
		</h5>
		<button type="button" class="btn-close" aria-label="Close" @onclick="State.Cancel" disabled="@State.IsBusy"></button>
	</div>
	<div class="modal-body d-flex flex-column gap-3 p-0">
		<InputTextArea @bind-Value="context.Notes" class="form-control border-0 rounded-0 px-3 py-2" rows="6" id="notes" disabled="@State.IsBusy" autofocus/>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" @onclick="State.Cancel" disabled="@State.IsBusy">Cancel</button>
		<button type="submit" class="btn btn-primary" disabled="@State.IsBusy">
			@if (State.IsBusy)
			{
				<span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
			}
			<span>Save</span>
		</button>
	</div>
</FormDialog>