@using MagicMatchTracker.Features.Players.Models
@using MagicMatchTracker.Features.Shared.Services
@inherits StatefulComponentBase<MagicMatchTracker.Features.Shared.Services.DeckEditDialogState>
@inject ScryfallClient ScryfallClient

<FormDialog TModel="DeckEditModel"
            Model="State.Model"
            FullscreenMode="@FullscreenMode"
            OnSubmit="@(() => State.SaveAsync(CancellationToken))">
	<div class="modal-header">
		<h5 class="modal-title">@Title</h5>
		<button type="button" class="btn-close" aria-label="Close" @onclick="State.Cancel" disabled="@State.IsBusy"></button>
	</div>
	<div class="modal-body d-flex flex-column gap-3">
		<div>
			<label for="commander" class="form-label">Commander</label>
			<InputText @bind-Value="context.Commander" @bind-Value:after="SetImageUrlAsync" class="form-control" id="commander" disabled="@State.IsBusy" autofocus/>
			<ValidationMessage For="() => context.Commander" class="invalid-feedback"/>
		</div>

		<div>
			<label for="partner" class="form-label">Partner <span class="text-secondary small">(optional)</span></label>
			<InputText @bind-Value="context.Partner" class="form-control" id="partner" disabled="@State.IsBusy"/>
		</div>

		<div>
			<label for="colourIdentity" class="form-label">Colour Identity</label>
			<InputColours @bind-Value="context.ColourIdentity" id="colourIdentity" class="mb-1" disabled="@State.IsBusy"/>
			<span class="text-secondary small fst-italic">@context.ColourIdentity.ToColourIdentityName()</span>
		</div>

		<div>
			<label for="deckName" class="form-label">Name <span class="text-secondary small">(optional)</span></label>
			<InputText @bind-Value="context.Name" class="form-control" id="deckName" disabled="@State.IsBusy"/>
		</div>

		<div>
			<label for="imageUrl" class="form-label">Image URL <span class="text-secondary small">(optional)</span></label>
			<div class="position-relative">
				<InputText @bind-Value="context.ImageUri" class="form-control" id="imageUrl" disabled="@(State.IsBusy || _isSearchingForImage)"/>
				@if (_isSearchingForImage)
				{
					<span class="spinner-border spinner-border-sm text-primary input-text-spinner-sm-end"></span>
				}
			</div>
			<ValidationMessage For="() => context.ImageUri" class="invalid-feedback"/>
		</div>

		<div>
			<label for="deckUrl" class="form-label">Deck URL <span class="text-secondary small">(optional)</span></label>
			<InputText @bind-Value="context.DeckUri" class="form-control" id="deckUrl" disabled="@State.IsBusy"/>
			<ValidationMessage For="() => context.DeckUri" class="invalid-feedback"/>
		</div>

		@if (!State.IsNew)
		{
			<div class="form-check">
				<InputCheckbox @bind-Value="context.IsArchived" class="form-check-input" id="isArchived" disabled="@State.IsBusy"/>
				<label class="form-check-label" for="isArchived">Archived</label>
			</div>
		}
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" @onclick="State.Cancel" disabled="@State.IsBusy">Cancel</button>
		<button type="submit" class="btn btn-primary" disabled="@State.IsBusy">
			@if (State.IsBusy)
			{
				<span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
			}
			<span>@ConfirmCaption</span>
		</button>
	</div>
</FormDialog>

@code {

	private bool _isSearchingForImage;

	private string Title => State.IsNew ? "Add new deck" : "Edit deck";
	private string ConfirmCaption => State.IsNew ? "Add" : "Save";
	private DialogFullscreenMode FullscreenMode => IsFullscreen ? DialogFullscreenMode.Mobile : DialogFullscreenMode.Never;

	[Parameter]
	public bool IsFullscreen { get; set; } = true;

	private async Task SetImageUrlAsync()
	{
		if (State.Model is null || State.Model.Commander.IsEmpty() || State.Model.ImageUri.IsNotEmpty())
			return;

		_isSearchingForImage = true;

		var imageUri = await ScryfallClient.GetCardArtUriAsync(State.Model.Commander, CancellationToken);
		if (imageUri.IsNotEmpty())
			State.Model.ImageUri = imageUri;

		_isSearchingForImage = false;
	}

}