@using Humanizer
<button class="card deck-card" @onclick="OnClick">
	@if (Deck.ImageUri is null)
	{
		<div class="deck-cover deck-cover-placeholder icon filled">box</div>
	}
	else
	{
		<img src="@Deck.ImageUri" class="deck-cover" alt="Deck image"/>
	}
	<div class="card-layout">
		<div class="card-body">
			@if (Deck.DeckUri is not null)
			{
				<a class="btn btn-square btn-ghost-secondary hover-icon-filled float-end"
				   @onclick:stopPropagation="true"
				   href="@Deck.DeckUri"
				   target="_blank"
				   rel="noreferrer"
				   title="Open decklist in new tab">
					<span class="icon">open_in_new</span>
				</a>
			}
			<div class="card-title fw-medium">@(Deck.Name ?? Deck.Commander)</div>
			<div class="card-subtitle text-muted d-flex flex-column">
				@if (Deck.Name is not null)
				{
					<span>@Deck.Commander</span>
				}
				<span>@Deck.Partner</span>
			</div>
		</div>

		<div class="card-footer card-footer-borderless d-flex justify-content-between small">
			<ColoursDisplay Value="Deck.ColourIdentity"/>
			<div class="stats">
				@if (Stats is not null)
				{
					var matchesTooltip = Stats.WinRate is null
						? $"Matches played ({"win".ToQuantity(Stats.Wins)})"
						: "Matches played";

					@if (Stats.WinRate is not null)
					{
						<div class="stats-entry" title="Win rate">
							<span class="icon">trophy</span>
							<span>@(Stats.WinRate)%</span>
						</div>
					}
					<div class="stats-entry" title="@matchesTooltip">
						<span class="icon">swords</span>
						<span>@Stats.Matches</span>
					</div>
				}
			</div>
		</div>
	</div>
</button>

@code {

	[Parameter, EditorRequired]
    public required Deck Deck { get; set; }

	[Parameter]
    public Stats? Stats { get; set; }

	[Parameter]
    public EventCallback OnClick { get; set; }

}