@page "/matches/{id:guid}"
@using MagicMatchTracker.Features.Matches.Components
@using MagicMatchTracker.Infrastructure.Pages
@inherits StatefulComponentBase<MagicMatchTracker.Features.Matches.Services.MatchDetailState>

<PageTitle>@PageTitle - Match Tracker</PageTitle>

@if (State.IsLoading)
{
	<p><em>Loading...</em></p>
	return;
}

@if (State.Match is null)
{
	<NotFound/>
	return;
}

@if (!State.Match.HasStarted && State.Match.Participations.Count > 0)
{
	<button class="btn btn-primary btn-fab"
	        @onclick="@(() => State.StartMatchAsync(CancellationToken))"
	        disabled="@State.IsBusy">
		@if (State.IsBusy)
		{
			<span class="spinner-border spinner-border-sm m-1" aria-hidden="true"></span>
		}
		else
		{
			<span class="icon filled" aria-hidden="true">swords</span>
		}
		<span>Start match</span>
	</button>
}
else if (State.Match.HasEnded)
{
	<button class="btn btn-primary btn-fab"
	        @onclick="@(() => State.PlayAgainAsync(CancellationToken))"
	        disabled="@State.IsBusy">
		@if (State.IsBusy)
		{
			<span class="spinner-border spinner-border-sm m-1" aria-hidden="true"></span>
		}
		else
		{
			<span class="icon filled">swords</span>
		}
		<span>Play again</span>
	</button>
}

<div class="heading">
	<h1>@State.Match.GetTitle(includeDate: false)</h1>

	<button class="btn btn-ghost-secondary btn-square hover-icon-filled"
	        title="Edit match"
	        @onclick="@(() => State.EditMatchAsync(CancellationToken))"
	        disabled="@State.IsBusy">
		<span class="icon" aria-hidden="true">edit</span>
	</button>
</div>

<div class="page-content">
	<div class="match-details">
		<div class="match-detail-entry">
			<span class="icon">calendar_today</span>
			<span>@State.Match.GetEffectiveDate().ToString("dddd, dd MMMM yyyy")</span>
		</div>
		@{
			var matchDurationDetails = GetMatchDurationDetails();
		}
		@if (matchDurationDetails is not null)
		{
			<div class="match-detail-entry">
				<span class="icon">timer</span>
				<span>@matchDurationDetails</span>
			</div>
		}
		@if (State.Match.Notes is not null)
		{
			<div class="match-detail-entry">
				<span class="icon">sticky_note_2</span>
				<span>@State.Match.Notes</span>
			</div>
		}
		@if (State.ShowErrors)
		{
			@foreach (var error in State.GetErrors())
			{
				<div class="match-detail-entry text-danger">
					<span class="icon">error</span>
					<span>@error.Message</span>
				</div>
			}
		}

		@if (!State.Match.HasStarted)
		{
			@* Player selection button *@
			var hasPlayers = State.Match.Participations.Count > 0;
			var buttonStyle = hasPlayers ? "btn-outline-secondary" : "btn-primary";
			var buttonCaption = hasPlayers ? "Change players" : "Add players";
			var iconFilledStyle = hasPlayers ? string.Empty : "filled";
			<button class="match-action-button btn @buttonStyle hover-icon-filled"
			        @onclick="@(() => State.SelectPlayersAsync(CancellationToken))"
			        disabled="@State.IsBusy">
				<span class="icon @iconFilledStyle">patient_list</span>
				<span>@buttonCaption</span>
			</button>
		}
		else if (!State.Match.HasEnded && State.Match.Participations.All(mp => mp.EndState is not null))
		{
			@* End match button *@
			<button class="match-action-button btn btn-primary"
			        @onclick="@(() => State.EndMatchAsync(CancellationToken))"
			        disabled="@State.IsBusy">
				<span class="icon filled">trophy</span>
				<span>End the match</span>
			</button>
		}
	</div>

	<div class="match-participations">
		@if (HasParticipationsInProgress)
		{
			<div class="participation-list">
				@foreach (var participation in ParticipationsInProgress)
				{
					<MatchParticipationCard
						Participation="participation"
						HasError="HasParticipationError(participation)"/>
				}
			</div>
		}

		@if (HasParticipationsInProgress && HasParticipationsEnded)
		{
			<hr class="my-1"/>
		}

		@if (HasParticipationsEnded)
		{
			<div class="participation-list">
				@foreach (var participation in ParticipationsEnded)
				{
					<MatchParticipationCard
						Participation="participation"
						HasError="HasParticipationError(participation)"/>
				}
			</div>
		}
	</div>
</div>



<MatchEditDialog/>
<MatchPlayerSelectDialog/>
<MatchDeckSelectDialog/>
<MatchParticipationDetailsEditDialog/>
<MatchParticipationEndStateEditDialog/>

@code {

	private Guid _id;

	private string PageTitle => State.Match?.GetTitle() ?? "Match Detail";

	private bool HasParticipationsInProgress => State.Match is not null
		&& State.Match.Participations.Any(mp => mp.EndState is null);

	private bool HasParticipationsEnded => State.Match is not null
		&& State.Match.Participations.Any(mp => mp.EndState is not null);

	private IEnumerable<MatchParticipation> ParticipationsInProgress => State.Match?
		.Participations
		.Where(mp => mp.EndState is null)
		.OrderBy(mp => mp.Player.Name) ?? Enumerable.Empty<MatchParticipation>();

	private IEnumerable<MatchParticipation> ParticipationsEnded => State.Match?
		.Participations
		.Where(mp => mp.EndState is not null)
		.OrderByDescending(mp => mp.EndState!.IsWinner)
		.ThenByDescending(mp => mp.EndState!.Turn)
		.ThenBy(mp => mp.Player.Name) ?? Enumerable.Empty<MatchParticipation>();

	[Parameter, EditorRequired]
	public Guid Id { get; set; }

	protected override async Task OnInitializedAsync()
	{
		_id = Id;
		await State.LoadMatchAsync(Id, CancellationToken);
	}

	protected override async Task OnParametersSetAsync()
	{
		if (_id == Id)
			return;

		_id = Id;
		await State.LoadMatchAsync(Id, CancellationToken);
	}

	private bool HasParticipationError(MatchParticipation participation)
	{
		if (!State.ShowErrors)
			return false;

		return State.GetErrors()
			.Any(e => e.AffectedParticipations.Contains(participation));
	}

	private string? GetMatchDurationDetails()
	{
		if (State.Match is null || !State.Match.HasStarted)
			return null;

		var details = new List<string>();
		if (State.Match.IsInProgress)
			details.Add("In Progress");

		var totalTurns = GetTotalTurns();
		if (totalTurns is not null)
			details.Add($"{totalTurns} turns");

		var formattedDuration = State.Match.GetFormattedDuration();
		if (formattedDuration is not null)
			details.Add(formattedDuration);

		if (details.Count == 0)
			return null;

		return details.JoinToString(" • ");
	}

	private int? GetTotalTurns()
	{
		if (State.Match is null || !State.Match.HasEnded)
			return null;

		return State.Match
			.Participations
			.Choose(mp => mp.EndState)
			.Select(e => e.Turn)
			.DefaultIfEmpty(null)
			.Max();
	}

}