@page "/matches/{id:guid}"
@using MagicMatchTracker.Features.Matches.Components
@using MagicMatchTracker.Infrastructure.Pages
@inherits StatefulComponentBase<MagicMatchTracker.Features.Matches.Services.MatchDetailState>

<PageTitle>@PageTitle - Match Tracker</PageTitle>

@if (State.IsLoading)
{
	<p><em>Loading...</em></p>
	return;
}

@if (State.Match is null)
{
	<NotFound/>
	return;
}

@if (!State.Match.HasStarted)
{
	<button class="btn btn-primary btn-fab"
	        @onclick="@(() => State.StartMatchAsync(CancellationToken))"
	        disabled="@(!State.CanStartMatch || State.IsBusy)">
		@if (State.IsBusy)
		{
			<span class="spinner-border spinner-border-sm m-1" aria-hidden="true"></span>
		}
		else
		{
			<span class="icon filled" aria-hidden="true">swords</span>
		}
		<span>Start match</span>
	</button>
}

<div class="heading">
	<h1>@State.Match.GetTitle(includeDate: false)</h1>

	<button class="btn btn-ghost-secondary btn-square hover-icon-filled"
	        title="Edit match"
	        @onclick="@(() => State.EditMatchAsync(CancellationToken))"
	        disabled="@State.IsBusy">
		<span class="icon" aria-hidden="true">edit</span>
	</button>
</div>

<div class="d-flex flex-column gap-2 mb-3">
	<div class="text-content gap-2">
		<span class="icon">calendar_today</span>
		<span>@State.Match.GetEffectiveDate().ToString("dddd, dd MMMM yyyy")</span>
	</div>
	@if (State.Match.HasStarted)
	{
		// TODO: Don't show this when the match has ended and it doesn't have turn count AND duration.
		<div class="text-content gap-2">
			<span class="icon">timer</span>
			@if (!State.Match.HasEnded)
			{
				var formattedDuration = State.Match.GetFormattedDuration();
				<span>
					<span>In Progress</span>
					@if (formattedDuration is not null)
					{
						<span> &bull; @formattedDuration</span>
					}
				</span>
			}
			else
			{
				var totalTurns = GetTotalTurns();
				<span>
					@if (totalTurns is not null)
					{
						<span>@totalTurns turns &bull; </span>
					}
					<span>@State.Match.GetFormattedDuration()</span>
				</span>
			}
		</div>
	}
	@if (State.Match.Notes is not null)
	{
		<div class="d-flex gap-2">
			<span class="icon">sticky_note_2</span>
			<span>@State.Match.Notes</span>
		</div>
	}
</div>

<div class="d-flex flex-column gap-3 mb-3">
	@if (!State.Match.HasStarted)
	{
		@* Player selection button *@
		var hasPlayers = State.Match.Participations.Count > 0;
		var buttonStyle = hasPlayers ? "btn-outline-secondary" : "btn-primary";
		var buttonCaption = hasPlayers ? "Change players" : "Add players";
		var iconFilledStyle = hasPlayers ? string.Empty : "filled";
		<button class="btn @buttonStyle hover-icon-filled w-100 justify-content-center"
		        @onclick="@(() => State.SelectPlayersAsync(CancellationToken))"
		        disabled="@State.IsBusy">
			<span class="icon @iconFilledStyle">patient_list</span>
			<span>@buttonCaption</span>
		</button>
	}

	@{
		var showSplitter = State.Match.Participations.Any(mp => mp.EndState is null)
			&& State.Match.Participations.Any(mp => mp.EndState is not null);

		var inProgressParticipations = State.Match
			.Participations
			.Where(mp => mp.EndState is null)
			.OrderBy(mp => mp.Player.Name);

		var endedParticipations = State.Match
			.Participations
			.Where(mp => mp.EndState is not null)
			.OrderByDescending(mp => mp.EndState!.IsWinner)
			.ThenBy(mp => mp.Player.Name);
	}

	@foreach (var participation in inProgressParticipations)
	{
		<MatchParticipationCard Participation="participation"/>
	}

	@if (showSplitter)
	{
		<hr class="my-1"/>
	}

	@foreach (var participation in endedParticipations)
	{
		<MatchParticipationCard Participation="participation"/>
	}
</div>

<MatchEditDialog/>
<MatchPlayerSelectDialog/>
<MatchDeckSelectDialog/>
<MatchParticipationDetailsEditDialog/>
<MatchParticipationEndStateEditDialog/>

@code {

	private string PageTitle => State.Match?.GetTitle() ?? "Match Detail";

	[Parameter, EditorRequired]
	public Guid Id { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await State.LoadMatchAsync(Id, CancellationToken);
	}

	private int? GetTotalTurns()
	{
		if (State.Match is null || !State.Match.HasEnded)
			return null;

		return State.Match
			.Participations
			.Choose(mp => mp.EndState)
			.Select(e => e.Turn)
			.DefaultIfEmpty(null)
			.Max();
	}

}